/* 导入来自 Google Fonts 的 Ubuntu 字体 */
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
    /* 设置所有元素的 CSS 盒模型为 border-box，保证元素的宽度和高度包括内边距和边框 */
    box-sizing: border-box;
}

body {
    /* 设置字体为 'Ubuntu'，sans-serif 作为后备字体 */
    font-family: 'Ubuntu', sans-serif;

    /* 将 body 元素设置为弹性容器，子元素在水平和垂直方向上居中对齐 */
    display: flex;
    align-items: center;
    justify-content: center;

    /* 设置 body 元素的高度为视口的 100% */
    height: 100vh;

    /* 设置溢出隐藏，当内容超出视口时不显示滚动条 */
    overflow: hidden;

    /* 设置 body 元素的外边距为 0 */
    margin: 0;
}

.bg {
    /* 设置背景图片，图片 URL 可以根据需要进行修改 */
    background: url('https://images.unsplash.com/photo-1576161787924-01bb08dad4a4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2104&q=80') no-repeat center center/cover;

    /* 设置元素的定位为绝对定位 */
    position: absolute;

    /* 设置 top left width height 以消除图片边缘模糊的影响 */

    /* 设置元素相对于其包含块的上边距位置 */
    top: -30px;
    /* 设置元素相对于其包含块的左边距位置 */
    left: -30px;
    /* 设置元素的宽度为视口宽度加上 60px */
    width: calc(100vw + 60px);
    /* 设置元素的高度为视口高度加上 60px */
    height: calc(100vh + 60px);

    /* 设置元素的层叠顺序为 -1，使其位于其他元素之后 */
    z-index: -1;

    /* 设置元素的模糊效果，这里的模糊半径为 0px */
    filter: blur(0px);
}

.loading-text {
    /* 设置字体大小为 50px */
    font-size: 100px;

    /* 设置文本颜色为白色 */
    color: #fff;
}